<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	  <meta charset="utf-8"/>
	  <title>角色列表</title>
	  <meta name="renderer" content="webkit"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	  <link rel="stylesheet" href="../static/plugins/layui/css/layui.css" th:href="@{${ctx}+'/static/plugins/layui/css/layui.css'}" />
	</head>
	<body>  
		<div class="layui-btn-group tlRole">
		  <button class="layui-btn" data-type="add">添加</button>
		  <button class="layui-btn" data-type="edit">修改</button>
		  <button class="layui-btn" data-type="del">删除</button>
		  <button class="layui-btn" data-type="assign">分配用户</button>
		</div>
		<table class="layui-table" lay-data="{height: 'full-60', cellMinWidth: 80, page: true, limit:10, url:'/api-role/role/listRolesWithPage', id:'tbRole'}">
		  <thead>
		    <tr>
		      <th lay-data="{type:'checkbox'}"></th>
		      <th lay-data="{field:'id', width:100, sort: true}">ID</th>
		      <th lay-data="{field:'name', minwidth:100}">角色名</th>
		      <th lay-data="{field:'remark', minWidth: 200}">备注</th>
		    </tr>
		  </thead>
		</table> 
		<script src="../static/assets/js/jquery-1.8.3.min.js" th:src="@{${ctx}+'/static/assets/js/jquery-1.8.3.min.js'}"></script>     
		<script src="../static/assets/js/common.js" th:src="@{${ctx}+'/static/assets/js/common.js'}"></script>
		<script src="../static/plugins/layui/layui.js" th:src="@{${ctx}+'/static/plugins/layui/layui.js'}"></script>
		<script src="../static/assets/js/role.js" th:src="@{${ctx}+'/static/assets/js/role.js'}"></script>
	</body>
</html>
