@charset "UTF-8";

/* CSS Document */

* {
	margin: 0;
	padding: 0
}

-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0);
}

-webkit-scrollbar-button {
	background-color: #32414f;
}

body {
	font-size: 13px;
	font-family:"微软雅黑";
	width: 100%;
	overflow: hidden;
}

ul,
li {
	list-style: none;
}

a:link,
a:visited {
	text-decoration: none;
}

a {
	display: block;
	color: #666;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	padding: 0;
	border: none;
}

i {
	font-style: normal;
}


/*登录页*/

body {
	position: relative;
}
.bj{
	position: relative;
}

.bj img {
	width: 100%;
	height: 100%;
	overflow: scroll;
}

.login-logo {
	position: absolute;
	left: 48%;
	top: 14%;
}

.login-title {
	position: absolute;
	left: 46%;
	top: 30%;
	font-size: 40px;
	color: #f9fcff;
	font-weight: 100;
}

.login-box {
	position: absolute;
	left: 39%;
	top: 50%;
	width: 375px;
}

.login-box input {
	margin-top: 25px;
	padding-left: 16px;
	width: 373px;
	height: 40px;
	border: 1px solid #b0b6b9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	background: #ffffff url(../images/user.png)0 5px no-repeat;
	padding-left: 60px;
}

.login-box .itxt {
	background: #ffffff url(../images/password.png)0 5px no-repeat;
}

.login-box .bot {
	height: 51px;
	line-height: 51px;
	font-size: 13px;
	color: #77ade9;
	margin-bottom: 20px;
}

.login-box .bot span {
	font-size: 13px;
	float: left;
	color: #333333;
	margin-left: 10px;
}

.login-box .bot span .xzz {
	background: url(../images/jz-1.png) 0px no-repeat;
}

.login-box .login {
	width: 369px;
	height: 47px;
	background: url(../images/login-btn.png) no-repeat;
	border: 1px solid #79bbc4;
	color: #FFFFFF;
	font-size: 18px;
	cursor: pointer;
}
.login-box .login:hover{background: url(../images/login-btn1.png) no-repeat;}
.login-footer {
	position: fixed;
	left: 30%;
	bottom: 20px;
	font-size: 14px;
	color: #333333;
	width: 800px;
}

.language {
	position: absolute;
	left: 90%;
	top: 1%;
}

.language li {
	float: left;
	margin-left: 6px;
	margin-right: 6px;
}
.login a{color: #FFFFFF;}


/*logo*/

.logo {
	background: url(../images/logo.png)23px 20px no-repeat #35baf6;
	width: 176px;
	height: 73px;
	padding-left: 68px;
	line-height: 73px;
	font-size: 26px;
	color: white;
	font-family: "方正品尚黑简体"
}

.left {
	background: #32414f;
	width: 244px;
	z-index: 999999;
	position: absolute;
	left: 0;
	top: 0;
}
.login-footer span{margin-left: 20%;}
.bot span em{float: left;}
.bot label{float: left;} 
.bot a{color: #2a71c6;float: right;font-size: 13px;}
input[type='radio'],input[type='checkbox']{width: 20px;height: 20px;vertical-align:middle;opacity: 0 !important;margin-top: 0px !important;}
.input_style{background: url(../images/green.png) no-repeat;width: 20px;height: 20px;display: inline-block;float: left;margin-top: 16px;}
.radio_bg{background-position: -118px 0 ;}
.checkbox_bg{background-position: 0 0;}
.radio_bg_check{background-position: -166px 0 ;}
.checkbox_bg_check{background-position: -48px 0;}
.sort-radio {float: left;margin-top: 8px;line-height: 10px;}

.side{position: absolute;right: 20px;bottom: 120px;width: 40px;height: 150px;}
.side a{float: left;display: block;margin-top: 10px;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color:    #b3b3b3;
}
input:-moz-placeholder, textarea:-moz-placeholder { 
    color:    #b3b3b3;
}
input::-moz-placeholder, textarea::-moz-placeholder { 
    color:    #b3b3b3;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color:    #b3b3b3;
}
@media only screen and (min-width:1200px) and (max-width:1500px){
/*上面针对了所有设备，这段是只(only)针对彩色屏幕设备*/
.login-box .bot {
    height: 51px;
    line-height: 51px;
    font-size: 13px;
    color: #77ade9;
    margin-bottom: 0px;
}
}